APP_NAME=Stocker API
APP_ENV=local
APP_HOST=127.0.0.1
APP_PORT=8000

MYSQL_USER=root
MYSQL_PASSWORD=1234
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DB=stocker

DATABASE_URL=mysql+pymysql://root:1234@127.0.0.1:3306/stocker

JWT_SECRET_KEY=change-this-to-a-long-random-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin1234
ADMIN_FULL_NAME=Stocker Admin