APP_NAME=Stocker API
APP_ENV=local
APP_HOST=127.0.0.1
APP_PORT=8000

MYSQL_USER=root
MYSQL_PASSWORD=1234
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DB=stocker

DATABASE_URL=mysql+pymysql://root:1234@127.0.0.1:3306/stocker