APP_NAME=Stocker API
APP_ENV=local
APP_HOST=127.0.0.1
APP_PORT=8000

MYSQL_USER=root
MYSQL_PASSWORD=1234
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DB=stocker

DATABASE_URL=mysql+pymysql://root:1234@127.0.0.1:3306/stocker

JWT_SECRET_KEY=7d9f2c1b8e4a6f0c3b9a1d5e8f7c2a4b6d1e9f3a8c5b0d2e7f4a1c6b9d3e8f2
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Gmail SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SENDER_NAME=Stock+er
SMTP_USERNAME=ug034516@gmail.com
SMTP_PASSWORD=secret
SMTP_FROM_EMAIL=ug034516@gmail.com

EMAIL_CODE_EXPIRE_MINUTES=10
EMAIL_SIGNUP_TOKEN_EXPIRE_MINUTES=20

GOOGLE_CLIENT_ID=197380080338-v11qukf89iesspng55ohpooj24eirevn.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=secret
GOOGLE_REDIRECT_URI=http://localhost:8000/api/v1/auth/google/callback
FRONTEND_GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

KAKAO_REST_API_KEY=647db0ad948cffc02eee60ba39c224dc
KAKAO_CLIENT_SECRET=secret
KAKAO_REDIRECT_URI=http://localhost:8000/api/v1/auth/kakao/callback
FRONTEND_KAKAO_CALLBACK_URL=http://localhost:3000/auth/kakao/callback

NAVER_CLIENT_ID=oBsuIhXI9kQHZ0MB1sEc
NAVER_CLIENT_SECRET=secret
NAVER_REDIRECT_URI=http://localhost:8000/api/v1/auth/naver/callback
FRONTEND_NAVER_CALLBACK_URL=http://localhost:3000/auth/naver/callback