# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env files
.env

# Virtual environments
.venv/
venv/
env/
conda-meta/

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# simul
.runtime/